Wiretree API
============

{{#data}}{{^ignore}}
- [{{ctx.name}}](#{{ctx.name}}){{/ignore}}{{/data}}

{{#data}}{{^ignore}}<a name="{{ctx.name}}"></a>
{{ctx.name}}( {{tagList tags}} )
------------------------------------------------------------

{{{description.summary}}}

**Parameters:**

{{#tags}}- **{{paramName .}}** *{{typeList types}}*: {{description}}
{{/tags}}

{{{description.body}}}

{{/ignore}}{{/data}}
